<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/redmond/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function() {
            function create() {
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:8081/user/create',
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify({username: $("#username").val(),
                                          password: $("#password").val(),
                                          email: $("#email").val()}),
                    success: function (data) {
                        $("#createdUserInfo").html(data.message);
                    },
                    error: function (err) {
                        $("#createdUserInfo").html("The error occurred. Try to create user later or contact us.");
                    }
                });
            }
            $("#createUserPopup").on("click", function() {
                $(function() {
                    $( "#createUserForm" ).dialog();
                });
            });
            $("#create").on("click", function() {
                createUser();
            });
            $(function() {
                $( "#loginForm" ).dialog();
            });
        });
    </script>

    <title>Cryptocurrency exchange </title>
</head>
<body style="background-color:#ecf0f5">

    <div id="loginForm">
        <div>
            <div th:if="${param.error}">
                Authentication failed. Please verify that yo've activated your account and entered valid data.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div title="Authorization:">
                <form th:action="@{/login}" method="post">
                    <div><label> User Name :<input type="text" name="username"/> </label></div>
                    <div><label> Password :<input type="password" name="password"/> </label></div>
                    <div align="center"><input type="submit" value="Sign In"/></div>
                </form>
                <br />
                <div align="center">
                    <button id="createUserPopup">Create new user</button>
                </div>
            </div>
            <div id="createUserForm" style="display:none" title="Create new user:">
                <div><label> Email: <br /> <input type="text" id="email"/> </label></div>
                <div><label> User Name : <input type="text" id="username"/> </label></div>
                <div><label> Password: <input type="password" id="password"/> </label></div>
                <button id="createUser">Create</button>
                <div id="createdUserInfo"></div>
            </div>
        </div>
    </div>

    Facebook
    <form action="/connect/facebook" method="POST">
        <input type="hidden" name="scope" value="user_posts" />
        <div class="formInfo">
            <p>You aren't connected to Facebook yet. Click the button to connect this application with your Facebook account.</p>
        </div>
        <p><button type="submit">Connect to Facebook</button></p>
    </form>

</body>
</html>