

        <div class="row">
          <div class="graph">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <div id="userChart" class="graph__data"></div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="select">
                        <select [(ngModel)]="selectedCurrency" id="currency" class="currency__name" (change)="currencyChanged($event.target.value)">
                          <option *ngFor="let c of currencies" [ngValue]="c">{{c}}</option>
                        </select>
                        <select id="period" class="currency__period" (change)="periodChanged($event.target.value)">
                          <option value="minute">{{'MENU.PERIOD.MINUTE'|translate}}</option>
                          <option value="hour">{{'MENU.PERIOD.HOUR'|translate}}</option>
                          <option value="day" selected="selected">{{'MENU.PERIOD.DAY'|translate}}</option>
                          <option value="week">{{'MENU.PERIOD.WEEK'|translate}}</option>
                          <option value="month">{{'MENU.PERIOD.MONTH'|translate}}</option>
                          <option value="year">{{'MENU.PERIOD.YEAR'|translate}}</option>
                          <option value="all">{{'MENU.PERIOD.ALL'|translate}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <table border="1" class="graph__info">
                        <tr class="graph__info_name">
                          <th>{{'MENU.AVERAGE_PRICE'|translate}}</th>
                          <th>{{'MENU.LAST_PRICE'|translate}}</th>
                          <th>{{'MENU.DAILY_CHANGE_IN_PRICE'|translate}}</th>
                          <th>{{'MENU.HIGHEST_DAILY_PRICE'|translate}}</th>
                          <th>{{'MENU.LOWEST_DAILY_PRICE'|translate}}</th>
                        </tr>
                        <tr>
                          <td id="periodAverage">{{averagePrice}}</td>
                          <td id="periodLastPrice">{{lastPrice}}</td>
                          <td id="periodDailyChange">{{differencePrice}}</td>
                          <td id="periodDailyHigh">{{maxPrice}}</td>
                          <td id="periodDailyLow">{{minPrice}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>




