<div style="text-align:center">
  <h1>
    {{ 'AUTHORIZATION.AUTHORIZATION'|translate }}
  </h1>
  <label *ngIf="errorMessage" style="color: red" translate>AUTHORIZATION.WRONG_CREDENTIALS</label>
  <form [formGroup]="authorizationGroup" (ngSubmit)="login()">
    <div class="form-group">
      <input type="email" [(ngModel)]="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <input type="password" [(ngModel)]="password" class="form-control" formControlName="password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default" [disabled]="!authorizationGroup.valid">{{ 'AUTHORIZATION.LOGIN'|translate }}</button>
      <button type="button" class="btn btn-default" (click)="loginWithFacebook()" class="btn btn-default">{{ 'AUTHORIZATION.LOGIN_FACEBOOK'|translate }}</button>
    </div>
    <div>
      <button type="button" class="btn btn-default" (click)="redirectToRegistration()" class="btn btn-default">{{ 'AUTHORIZATION.REGISTER'|translate }}</button>
    </div>
  </form>

</div>



